<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageTitle%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    
    <form class="row g-3" method="POST">
        <div class="col-md-6">
          <label for="skillName" class="form-label"></label>
          <input type="text" name= "skillName" class="form-control" id="skillName" value="<%=skill.skill %>">
        </div>
        <div class="col-md-6">
          <label for="complete" class="form-label"></label>
          <input type="text" name= "complete" class="form-control" id="complete" value="<%=skill.status %>"
          >
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
    </form>

</body>
</html>